# Task 4: Method Chaining

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Method Chaining

Method chaining allows you to apply multiple processing steps to your dataframe in a fewer lines of code so it is more readable. You should avoid having too many methods in your chain, as the more you have in a single chain, the harder it is to debug or troubleshoot. I would target about 5 methods in a chain, though this is a flexible suggestion and you should do what makes your analysis the most readable and group your chains based on their purpose (e.g., loading/cleaning, processing, etc…).

**Note: See Milestone 3 for a more thorough description of method chaining.**

## Load Dataset 
Load dataset from : https://github.com/firasm/bits/raw/master/pokemon.csv

In [2]:
# Your Solution here
df = pd.read_csv("https://github.com/firasm/bits/raw/master/pokemon.csv")

### 4.1. Create a Method Chain on the cleaning/wrangling/processing steps from sections Task 2.5.1, 2.5.2, 2.5.3, 2.5.4, 2.5.5.

You should write "one method chain" that does all these commands:

- 2.5.1. Drop the 'Generation', 'Sp. Atk', 'Sp. Def', 'Total', and the '#' columns
- 2.5.2. Drop any NaN values in HP, Attack, Defense, Speed
- 2.5.3. Reset the index to get a new index without missing values
- 2.5.4. A new column was added called `index`; remove it. 
- 2.5.5. Calculate a new column called "Weighted Score" that computes an aggregate score comprising:
    - 20% 'HP'
    - 40% 'Attack'
    - 30% 'Defense'
    - 10% 'Speed'

In [3]:
# Your Solution here
df_chained = (df.drop(columns=['Generation', 'Sp. Atk', 'Sp. Def', 'Total', '#' ])
              .dropna(subset=['HP', 'Attack', 'Defense', 'Speed'])
              .reset_index()
              .drop(columns="index")
              .assign(Weighted_Score = 0.2*df['HP']+0.4*df['Attack']+0.3*df['Defense']+0.1*df['Speed']))
df_chained

,Name,Type 1,Type 2,HP,Attack,Defense,Speed,Legendary,Weighted_Score
0,Bulbasaur,Grass,Poison,45,49,49,45,False,47.8
1,Ivysaur,Grass,Poison,60,62,63,60,False,61.7
2,Venusaur,Grass,Poison,80,82,83,80,False,81.7
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,80,False,100.9
4,Charmander,Fire,NaN,39,52,43,65,False,48.0
...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,50,True,100.0
796,DiancieMega Diancie,Rock,Fairy,50,160,110,110,True,118.0
797,HoopaHoopa Confined,Psychic,Ghost,80,110,60,70,True,85.0
798,HoopaHoopa Unbound,Psychic,Dark,80,160,60,80,True,106.0
799,Volcanion,Fire,Water,80,110,120,70,True,103.0

### 4.2. Create a second Method Chain to do the tasks below:

1. Remove all Pokémon 6th generation and above.
2. Remove the Legendary column.
3. Remove all rows that contain "Forme", a special form of Pokémon.
4. Remove all rows that contain "Mega", another weird special form of Pokémon.

**Hint: You will need to use the [.loc](https://towardsdatascience.com/effective-data-filtering-in-pandas-using-loc-40eb815455b6) in combination with the anonymous function lambda.**

In [4]:
# Your Solution here
df = pd.read_csv("https://github.com/firasm/bits/raw/master/pokemon.csv")
df_chained_2 = (df.drop(df[df.Generation == 6].index)
                .drop(columns="Legendary")
                .loc[lambda row:row["Name"].str.contains('Forme')==False]
                .loc[lambda row:row["Name"].str.contains('Mega')==False])
df_chained_2

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1
...,...,...,...,...,...,...,...,...,...,...,...,...
707,644,Zekrom,Dragon,Electric,680,100,150,120,120,100,90,5
710,646,Kyurem,Dragon,Ice,660,125,130,90,130,90,95,5
711,646,KyuremBlack Kyurem,Dragon,Ice,700,125,170,100,120,90,95,5
712,646,KyuremWhite Kyurem,Dragon,Ice,700,125,120,90,170,100,95,5
717,649,Genesect,Bug,Steel,600,71,120,95,120,95,99,5